dummy_var: this file should not be empty
{% for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('ol_ir_var_') -%}
{{ { var_name[10:]: var_value } | to_nice_yaml }}
{%- endif -%}
{%- endfor -%}
