#!/bin/bash

source {{ol_ir_venv_path}}/bin/activate
set -euxo pipefail
cd {{ol_ir_path}}

{% if ol_ir_overcloud_version|string == "10" or ol_ir_overcloud_version|string == "13" -%}
# Somehow LC_CTYPE seems to get set to C.UTF-8 inside the playbook
# if it's not explicitly set before. All other LC_ stay at "POSIX"
# as they should. C.UTF-8 breaks the fact gathering as this locale
# isn't present in EL 7 yet. Set LC_CTYPE explicitly to allow fact
# gathering from EL 7.
export LC_CTYPE=POSIX
export LC_ALL=POSIX
{%- endif %}

{{ol_ir_command_cmd}}
